BOT_TOKEN=your_bot_token
DATABASE_URL=your_db_connection

LABEL_NAME=your_label_name
LABEL_LINK=your_lanel_url

FAQ_LINK_ROYALTY=link_to_royalty_info
FAQ_LINK_PRIVACY=link_to_privacy
FAQ_LINK_TERMS=link_to_terms

DEBUG=False